@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*"https://images.pexels.com/photos/3183150/pexels-photo-3183150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"*/

section#total-screen {
  background-image: url("../images/fondo.jpeg");
  background-size: cover;
}

section#access-form {
  border-radius: 2%;
  background-color: var(--color-dark);
  width: 400px;
}

.accessWindow fieldset#roles {
  background-color: var(--color-dark);
  margin-top: 1.2rem;
  width: 400px;
}

.accessWindow {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  min-height: 100%;
}

.accessWindow section header {
  padding: 1.5rem 0 1rem 0;
}

.accessWindow fieldset#roles ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 1rem;
}

.accessWindow input {
  border: none;
}

input#dev,
input#org {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.errorMessage {
  color: red;
  display: block;
}

div#access {
  border-bottom: 1px solid var(--color-superdark);
  padding-bottom: 1rem;
}
