.filters {
  padding: 1rem;
  margin-top: 3rem;
  width: 250px;
}

.filters .makeStyles-formControl-13, .selects .makeStyles-formControl-13{
  min-width: 11rem;
}

.filters h2 {
  padding-left: 0.5rem;
}

.selects{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
