@import url("https://fonts.googleapis.com/css?family=Lemonada&display=swap");

.access-header {
	padding: 0.5rem;
}

#logo-home {
	background-image: url("../images/ideasy5.png");
	background-size: cover;
	padding: 2.5rem;
	margin-left: 0;
}

div.header {
	width: 470px;
}

input.search {
	height: 2.2rem;
	width: 250px;
	border: 1px solid var(--color-superdark);
	margin: 0 1rem 0 2rem;
}

.main-header {
	display: flex;
	position: relative;
	width: 100%;
	box-shadow: 0 4px 12px 0 rgba(10, 10, 10, 0.5);
	background-color: var(--color-superlight);
	justify-content: space-between;
	padding: 0.5rem;

	/*background: linear-gradient(-0.25turn, rgb(255, 116, 2), rgb(180, 0, 111));*/
}

.main-header div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.nav-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 360px;
}

.nav-row li {
	margin: 1.5rem 0 0 0;
	padding: 0;
}

.nav-row li button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
}

.nav-row p {
	padding-bottom: 0;
	font-size: var(--font-sm);
}

button#logout,
button#my-projects,
button#my-profile {
	color: var(--color-superdark);
}

button#logout:hover,
button#my-projects:hover,
button#my-profile:hover {
	color: var(--color-dark);
	text-decoration: underline;
}

p.separator {
	padding: 0;
	color: gray;
}

.search-results {
	height: 400px;
	display: flex;
	flex-direction: column;
}

.search-results > section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	padding: 1rem;
}

section#projects-results,
section#users-results {
	overflow: auto;
}

section#projects-results ul li,
section#users-results ul li {
	margin: 0.5rem 0;
}

button#search-result {
	height: 60px;
	display: flex;
	flex-direction: row;
	background-color: transparent;
}
button#search-result:hover {
	background-color: var(--color-dark);
}
button#search-result p {
	padding-left: 0.5rem;
}
