.home {
  display: grid;
  grid-template-columns: 20rem auto;
}

section.home-image {
  min-height: 450px;
  background-image: url("../images/lamps.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.home-image p {
  color: var(--color-superlight);
}
section.home-image p.first {
  font-size: 2rem;
}
section.home-image p.second {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* section.home-image button.access {
  background-color: rgb(212, 22, 22);
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
} */
section.home-image button.access:hover {
  background-color: rgb(179, 18, 18);
}
section.home-image button.access:active {
  background-color: rgb(212, 22, 22);
}
