.myProfile .centered-container .profile-photo {
  width: 150px;
  height: 150px;
}

.myProfile > section {
  padding: 1.5rem;
}

.myProfile form fieldset {
  width: 600px;
  text-align: center;
}

.myProfile input {
  height: 1.5rem;
  width: 200px;
}

.form-title p {
  font-size: 1.5rem;
}
