#myProfile > section {
  padding: 1rem;
}

form#profile input {
  border: none;
}

section form#profile {
  border-radius: 2%;
  background-color: var(--color-dark);
  width: 400px;
  padding: 0.5rem 0 0.5rem 0;
}

#myProfile form fieldset {
  width: 250px;
}

h1.profile-name {
  margin: 0.5rem 0 1rem 0;
}

fieldset.profile legend {
  text-align: left;
}

fieldset.profile ul {
  align-items: center;
}

fieldset.profile label {
  width: 100%;
  text-align: left;
}

fieldset.profile ul li {
  display: flex;
  flex-direction: column;
}
input#input-avatar {
  display: none;
}
label#select-avatar {
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 1.5rem;
}
label#select-avatar:hover {
  background-color: var(--color-medium);
}
label#select-avatar:active {
  background-color: var(--color-medium);
}
