#newProject .home-body {
  background-image: url("../images/fondo.jpeg");
  background-size: cover;
}

#newProject form {
  background-color: var(--color-dark);
  padding: 2rem 0;
  width: 600px;
  border-radius: 10px;
  margin: 2rem auto;
}
#newProject form h1{
  text-align: center;
}

#newProject form input#title {
  width: 100%;
}

#newProject form ul li {
  display: flex;
  flex-direction: column;
}
#newProject form label {
  text-align: left;
  margin-bottom: 0.5rem;
}

#newProject form textarea#description {
  height: 6rem;
}
#newProject form textarea#details {
  height: 15rem;
}

#newProject form button {
  margin-top: 1rem;
}

#newProject form select {
  width: 130px;
}

#new-project-button {
  margin-top: 1.2rem;
}