.projectList {
	overflow: auto;
}

.projectList ul li {
	margin-bottom: 0.5rem;
}

.project-miniature {
	display: grid;
	grid-template-columns: 7rem auto 10rem;
	border: 2px solid black;
	background-color: cadetblue;
}

.project-miniature > :first-child {
	align-items: center;
	justify-content: space-between;
}

.project-miniature > div {
	display: flex;
	flex-direction: column;

	padding: 1rem;
}

#project-info {
	padding: 0.5rem;
}

#project-info ul li {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}

#main-content {
	padding: 0.5rem;
	width: 30rem;
}

#main-content a {
	text-align: start;
	margin: 0.2rem 0;
}

a#org-name {
	margin: 0;
}

#icon {
	margin-right: 0.5rem;
}
