.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin-right: 0.1rem;
  margin-bottom: 1rem;
}

.projectList > ul {
  height: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projectList > ul li {
  margin: 0.2rem;
}

.project-miniature {
  display: grid;
  grid-template-columns: 9rem 17rem;
  border: 2px solid var(--color-light);
  background-color: var(--color-superlight);
  margin: 0.5rem;

  height: 280px;
  overflow: hidden;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.project-miniature:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.project-miniature > :first-child {
  align-items: center;
  justify-content: space-between;
  height: 280px;
}

.project-miniature > div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.project-miniature p#followers,
.project-miniature p.creation-date {
  font-size: 1rem;
  color: var(--color-medium);
  padding: 0;
}
#project-info {
  margin: 0.5rem 0;
  padding: 0.2rem;
  background-color: var(--color-superlight);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid var(--color-superdark);
  height: 100%;
}

#project-info ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#project-info ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-info ul li:last-child {
  margin-bottom: 0;
}

#project-info ul li p {
  padding: 0.2rem;
}

#main-content {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

#main-content div {
  text-align: start;
  margin: 0.2rem 0;
  overflow: hidden;
}
#main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project-data {
  overflow: hidden;
}

#project-data p {
  word-wrap: break-word;
  overflow: hidden;
}

.projectList button {
  margin: 0;
  background-color: transparent;
}

section.projectList p#org-name {
  padding: 0.1rem;
  width: 125px;
}

section.projectList .project-miniature div#complexity-category {
  display: flex;
  align-items: center;
  margin: 0;
}

.projectList p.category {
  color: var(--color-medium);
  font-size: 1.2rem;
  padding: 0;
}

.projectList .project-miniature div#easy p {
  background-color: var(--color-green2);
}
.projectList .project-miniature div#medium p {
  background-color: var(--color-dark);
}
.projectList .project-miniature div#hard p {
  background-color: var(--color-red);
}
.project-miniature div#easy p,
.project-miniature div#medium p,
.project-miniature div#hard p {
  padding: 0;
  border-radius: 50%;
  margin-right: 0.5rem;
  height: 23px;
  width: 23px;
  text-align: center;
}
.projectList .project-miniature div#medium p {
  height: 25px;
  width: 25px;
}
.project-miniature div#easy,
.project-miniature div#medium,
.project-miniature div#hard {
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
}

h2.project-title {
  font-size: 1.2rem;
  word-wrap: break-word;
}
p#project-description {
  font-size: 1rem;
}
