.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project ul.project-view {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.project > ul li:first-child {
  display: flex;
  flex-direction: row;

  margin: 1rem 0;
}
.project ul li.top-middle {
  background-color: var(--color-light);
  padding: 1rem;
  border-radius: 10px;
}

.project form {
  align-items: stretch;
}

.project fieldset {
  padding: 0;
}

.project ul {
  padding: 0;
}

.project section#top {
  display: flex;
  flex-direction: row;
}

.project label {
  margin-bottom: 0.5rem;
  text-align: start;
}

#top {
  display: flex;
  flex-direction: row;
}

#top #visible-info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#top #visible-info ul li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

#top #visible-info textarea#description {
  height: 5rem;
}

#top #project-info {
  margin: 0 0 1rem 10rem;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--color-superlight);
  border: 1px solid var(--color-superdark);
  border-radius: 10px;
}

#top #dev-project-info {
  margin: 0 0 1rem 10rem;
  padding: 0 1rem 1rem 1rem;
  background-color: var(--color-superlight);
  border: 1px solid var(--color-superdark);
  border-radius: 10px;
}

#top #project-info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#top #project-info ul li {
  width: 225px;
  text-align: start;
}

.project li#selects {
  display: grid;
  grid-template-columns: 100px auto;
}

.project section#middle {
  display: flex;
  flex-direction: column;
}

#middle {
  max-width: 900px;
}

#middle fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#middle #details {
  width: 100%;
  height: 10rem;
}

#middle p {
  margin-bottom: 1rem;
}

#bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.contributions-title {
  margin-top: 2rem;
}

.contributions {
  border: 1px solid var(--color-superdark);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#contrib-row {
  display: grid;
  grid-template-columns: 200px auto 1fr;
  align-items: center;
  padding: 0;
}
#contrib-row:not(:last-child) {
  margin-bottom: 0.5rem;
}

.project button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project button p {
  margin-left: 0.3rem;
}

#contrib-row a:not(#link) {
  margin-right: 0.5rem;
  width: 200px;
  word-wrap: break-word;
  text-decoration: underline;
}

input#contributions {
  width: auto;
}

.followers-title {
  margin-top: 2rem;
}

.followers {
  border: 1px solid var(--color-superdark);
  margin-bottom: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
}

.followers button,
.contributions button {
  height: 60px;
}

.project > ul > li:nth-child(3) form {
  display: flex;
  flex-direction: column;
}

.project > ul > li:nth-child(3) form fieldset {
  width: 100%;
}

input#contributions {
  display: none;
}
label#document {
  font-size: 1rem;

  cursor: pointer;
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 1.5rem;
}
label#document:hover {
  background-color: var(--color-medium);
}
label#document:active {
  background-color: var(--color-medium);
}

#spinner {
  height: 35px;
  width: 35px;
  background-image: url("../images/spinner.gif");
  background-size: cover;
}

.project #upload-file {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.project fieldset#upload-file {
  width: auto;
  margin: 0;
}
.project fieldset#upload-file > label {
  margin: 0 0.5rem 0 0;
}
