.register {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
}

.register main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 100%;
}

.register section {
	background-color: lightgreen;
}

.register section header {
	padding: 1.5rem 0 1rem 0;
}

.register fieldset#roles {
	background-color: lightsalmon;
}

.register fieldset#roles ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1rem;
}
