div#rating {
  margin-top: 1rem;
}
div.header-user {
  height: 100%;
  min-height: 700px;
  min-width: 470px;
}

section#user-container {
  background-color: var(--color-dark);
  height: 100%;
  padding: 1rem;
  border-right: 3px solid var(--color-superdark);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
section#user-container h1 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

#contact {
  margin-top: 3rem;
  border-radius: 10px;
  border: 2px solid var(--color-superdark);
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
}
#contact * {
  font-size: 1.2rem;
}
#contact a {
  color: var(--color-superdark);
}
#contact a:hover {
  text-decoration: underline;
}

section#user-container .MuiRating-root {
  padding: 1rem;
  background-color: var(--color-superdark);
  color: var(--color-dark);
  border-radius: 10px;
}

section#user-container .MuiRating-iconEmpty {
  color: var(--color-medium);
}
p#profile-role {
  font-size: 2rem;
  margin: 2rem 0 3rem 0;
}

section.projects section.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section.projects section.filters section#category {
  margin-top: 1.5rem;
}
