div#rating {
  margin-top: 1rem;
}
section#user-container {
  background-color: var(--color-dark);
  height: 100%;
  padding: 1rem;
}

section.home {
  height: 100%;
}

#contact {
  margin-top: 3rem;
  border-radius: 10px;
  border: 2px solid var(--color-superdark);
  padding: 1rem;
  color: white;
  font-size: 1.1rem;
}
#contact * {
  font-size: 1.2rem;
}
#contact a {
  color: var(--color-superdark);
}
#contact a:hover {
  text-decoration: underline;
}
.body {
  display: flex;
}

.MuiRating-root {
  padding: 1rem;
  background-color: var(--color-superdark);
  border-radius: 10px;
}
