@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

div#root,
input,
button,
p,
h1,
h2 {
  font-family: "Roboto", sans-serif;
}
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  border: 1.5px solid black;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#medium-icon {
  width: 48px;
  height: 48px;
}

#small-icon {
  height: 40px;
  width: 40px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  height: 2.3rem;
}

input {
  width: 250px;
  height: 2rem;
  padding-left: 0.5rem;
}
